* {
	box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0;
  background-color:#d3d2d2;
}

.navbar {
  background-color: #5900a1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: rgb(209, 209, 209);
}

.Add {
  font-size: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 40px;
  background-color: #d3d2d2;
}

input[type="text"], textarea {
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  border: 1px solid lightgray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  padding: 8px 18px;
  background-color: #5900a1;
  color: #fff;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 0px;
  float:right;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
}
label p{
  color:rgb(255, 255, 255);
}
label input {
  
  margin-top: 0.5em;
  text-align: left;
}

/*
button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #5900a1;
  color: #ffffff;
  font-size: 18px;
  border: 1px solid gray;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button[type="submit"]:hover {
  background-color: gray;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
*/

h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
}



/*
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: lightgray;
  color: white;
  font-size: 18px;
  border: 1px solid gray;
  border-radius: 10px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: gray;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
}
*/